.rzx-toolbar {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--rzx-toolbar-color);
    border: 1px solid var(--rzx-active-color);
}
.rzx-toolbar__separator {
    width: 1px;
    height: 20px;
    border-left: 1px solid var(--rzx-active-color);
    margin: 0 var(--rzx-margin-double);
}

.rzx-toolbar__title-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 var(--rzx-padding-double);
}

.rzx-toolbar__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--rzx-text-color);
    margin-left: var(--rzx-margin-double);
}

.rzx-toolbar__items {
    display: flex;
    align-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.rzx-toolbar__items > div {
    margin-right: var(--rzx-margin-double);
}
