.code-page {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: var(--rzx-padding-double);
  height: calc(100% - 50px);
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
