.rzx-button {
    display: inline-block;
    padding: var(--rzx-padding) var(--rzx-padding-double);
    background-color: var(--rzx-input-color);
    color: var(--rzx-text-color);
    border: 1px solid var(--rzx-active-color);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    svg {
        margin-right: var(--rzx-margin);
    }
}

.rzx-button:hover {
    background-color: var(--rzx-active-color);
}

.rzx-button:active {
    background-color: var(--rzx-click-color);
}
